<div class="form-group">
    <label class="col-md-2 control-label">Pessoa</label>
    <div class="col-md-10">
        <div class="radio">
            <label><input type="radio" name="Pessoa" value="f" checked>F&iacute;sica</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="Pessoa" value="j">Jur&iacute;dica</label>
        </div>
    </div>
</div>
<div class="section-pf">
    <div class="form-group">
        <label class="col-md-2 control-label">Nome</label>
        <div class="col-md-10">
            <input name="PFName" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">CPF</label>
        <div class="col-md-10">
            <input name="PFCPF" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">RG</label>
        <div class="col-md-10">
            <input name="PFRG" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">UF/RG</label>
        <div class="col-md-10">
            <select name="PFUFRG" class="form-control pf">
                <option val="">-</option>
                <option val="AC">Acre</option>
                <option val="AL">Alagoas</option>
                <option val="AP">Amapá</option>
                <option val="AM">Amazonas</option>
                <option val="BA">Bahia</option>
                <option val="CE">Ceará</option>
                <option val="DF">Distrito Federal</option>
                <option val="ES">Espírito Santo</option>
                <option val="GO">Goiás</option>
                <option val="MA">Maranhão</option>
                <option val="MT">Mato Grosso</option>
                <option val="MS">Mato Grosso do Sul</option>
                <option val="MG">Minas Gerais</option>
                <option val="PA">Pará</option>
                <option val="PB">Paraíba</option>
                <option val="PR">Paraná</option>
                <option val="PE">Pernambuco</option>
                <option val="PI">Piauí</option>
                <option val="RJ">Rio de Janeiro</option>
                <option val="RN">Rio Grande do Norte</option>
                <option val="RS">Rio Grande do Sul</option>
                <option val="RO">Rondônia</option>
                <option val="RR">Roraima</option>
                <option val="SC">Santa Catarina</option>
                <option val="SP">São Paulo</option>
                <option val="SE">Sergipe</option>
                <option val="TO">Tocantins</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Endere&ccedil;o</label>
        <div class="col-md-10">
            <input name="PFAddress" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Bairro</label>
        <div class="col-md-10">
            <input name="PFArea" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Cidade</label>
        <div class="col-md-10">
            <input name="PFCity" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">UF</label>
        <div class="col-md-10">
            <select name="PFUF" class="form-control pf">
                <option val="">-</option>
                <option val="AC">Acre</option>
                <option val="AL">Alagoas</option>
                <option val="AP">Amapá</option>
                <option val="AM">Amazonas</option>
                <option val="BA">Bahia</option>
                <option val="CE">Ceará</option>
                <option val="DF">Distrito Federal</option>
                <option val="ES">Espírito Santo</option>
                <option val="GO">Goiás</option>
                <option val="MA">Maranhão</option>
                <option val="MT">Mato Grosso</option>
                <option val="MS">Mato Grosso do Sul</option>
                <option val="MG">Minas Gerais</option>
                <option val="PA">Pará</option>
                <option val="PB">Paraíba</option>
                <option val="PR">Paraná</option>
                <option val="PE">Pernambuco</option>
                <option val="PI">Piauí</option>
                <option val="RJ">Rio de Janeiro</option>
                <option val="RN">Rio Grande do Norte</option>
                <option val="RS">Rio Grande do Sul</option>
                <option val="RO">Rondônia</option>
                <option val="RR">Roraima</option>
                <option val="SC">Santa Catarina</option>
                <option val="SP">São Paulo</option>
                <option val="SE">Sergipe</option>
                <option val="TO">Tocantins</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">CEP</label>
        <div class="col-md-10">
            <input name="PFZip" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Telefone</label>
        <div class="col-md-10">
            <input name="PFPhone" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Site</label>
        <div class="col-md-10">
            <input name="PFSite" class="form-control pf" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">E-mail</label>
        <div class="col-md-10">
            <input name="PFEmail" class="form-control pf" />
        </div>
    </div>
</div>
<div class="section-pj">
    <div class="form-group">
        <label class="col-md-2 control-label">Raz&atilde;o Social</label>
        <div class="col-md-10">
            <input name="PJOfficialName" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Nome Fantasia</label>
        <div class="col-md-10">
            <input name="PJName" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">CNPJ/MF</label>
        <div class="col-md-10">
            <input name="PJCPF" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Inscri&ccedil;&atilde;o Estadual</label>
        <div class="col-md-10">
            <input name="PJIE" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Endere&ccedil;o</label>
        <div class="col-md-10">
            <input name="PJAddress" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Bairro</label>
        <div class="col-md-10">
            <input name="PJArea" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Cidade</label>
        <div class="col-md-10">
            <input name="PJCity" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">UF</label>
        <div class="col-md-10">
            <select name="PJUF" class="form-control pj">
                <option val="">-</option>
                <option val="AC">Acre</option>
                <option val="AL">Alagoas</option>
                <option val="AP">Amapá</option>
                <option val="AM">Amazonas</option>
                <option val="BA">Bahia</option>
                <option val="CE">Ceará</option>
                <option val="DF">Distrito Federal</option>
                <option val="ES">Espírito Santo</option>
                <option val="GO">Goiás</option>
                <option val="MA">Maranhão</option>
                <option val="MT">Mato Grosso</option>
                <option val="MS">Mato Grosso do Sul</option>
                <option val="MG">Minas Gerais</option>
                <option val="PA">Pará</option>
                <option val="PB">Paraíba</option>
                <option val="PR">Paraná</option>
                <option val="PE">Pernambuco</option>
                <option val="PI">Piauí</option>
                <option val="RJ">Rio de Janeiro</option>
                <option val="RN">Rio Grande do Norte</option>
                <option val="RS">Rio Grande do Sul</option>
                <option val="RO">Rondônia</option>
                <option val="RR">Roraima</option>
                <option val="SC">Santa Catarina</option>
                <option val="SP">São Paulo</option>
                <option val="SE">Sergipe</option>
                <option val="TO">Tocantins</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">CEP</label>
        <div class="col-md-10">
            <input name="PJZip" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Telefone</label>
        <div class="col-md-10">
            <input name="PJPhone" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Site</label>
        <div class="col-md-10">
            <input name="PJSite" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">E-mail</label>
        <div class="col-md-10">
            <input name="PJEmail" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Representante Legal</label>
        <div class="col-md-10">
            <input name="PJResp" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Cargo</label>
        <div class="col-md-10">
            <input name="PJRespPosition" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">CPF</label>
        <div class="col-md-10">
            <input name="PJCPFResp" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">RG</label>
        <div class="col-md-10">
            <input name="PJRGResp" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">UF/RG</label>
        <div class="col-md-10">
            <select name="PJUFRGResp" class="form-control pf">
                <option val="">-</option>
                <option val="AC">Acre</option>
                <option val="AL">Alagoas</option>
                <option val="AP">Amapá</option>
                <option val="AM">Amazonas</option>
                <option val="BA">Bahia</option>
                <option val="CE">Ceará</option>
                <option val="DF">Distrito Federal</option>
                <option val="ES">Espírito Santo</option>
                <option val="GO">Goiás</option>
                <option val="MA">Maranhão</option>
                <option val="MT">Mato Grosso</option>
                <option val="MS">Mato Grosso do Sul</option>
                <option val="MG">Minas Gerais</option>
                <option val="PA">Pará</option>
                <option val="PB">Paraíba</option>
                <option val="PR">Paraná</option>
                <option val="PE">Pernambuco</option>
                <option val="PI">Piauí</option>
                <option val="RJ">Rio de Janeiro</option>
                <option val="RN">Rio Grande do Norte</option>
                <option val="RS">Rio Grande do Sul</option>
                <option val="RO">Rondônia</option>
                <option val="RR">Roraima</option>
                <option val="SC">Santa Catarina</option>
                <option val="SP">São Paulo</option>
                <option val="SE">Sergipe</option>
                <option val="TO">Tocantins</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Contato</label>
        <div class="col-md-10">
            <input name="PJContact" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Cargo</label>
        <div class="col-md-10">
            <input name="PJContactPosition" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Telefone Principal</label>
        <div class="col-md-10">
            <input name="PJContactPhone1" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Telefone Alternativo</label>
        <div class="col-md-10">
            <input name="PJContactPhone2" class="form-control pj" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">E-mail</label>
        <div class="col-md-10">
            <input name="PJContactEmail" class="form-control pj" />
        </div>
    </div>
</div>
