@model string
<div class="form-group" id="SaveCancelContainer">
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-primary">Salvar  <i class="glyphicon glyphicon-check"></i></button>
        <a href="@Url.Content(Model)" class="cancel" style="margin-left: 10px;">Cancelar</a>
    </div>
</div>