@model DoadorDetails
@{
    ViewData["Breadcrumbs"] = "<li><a href='/'>In&iacute;cio</a></li><li><a href='/doador/'>Doadores</a></li><li class='active'>Novo</li>";
}
<form asp-controller="Doador" asp-action="Create" method="post" class="form-horizontal">
    <h4>Novo Doador</h4>
    <hr />
    @await Html.PartialAsync("_Entity")
    <div class="form-group">
        <label class="col-md-2 control-label">Atividade</label>
        <div class="col-md-10">
            <select class="form-control" name="Atividade">
                <option></option>
                <option val="Comercio">Com&eacute;rcio</option>
                <option val="Rural">Produtor Rural</option>
                <option val="Feirante">Feirante</option>
                <option val="Industria">Ind&uacute;stria</option>
                <option val="Servicos">Servi&ccedil;os</option>
                <option val="GDF">GDF</option>
                <option val="Federal">Governo Federal</option>
                <option val="Outro">Outro</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Setor</label>
        <div class="col-md-10">
            <select class="form-control" name="Setor">
                <option></option>
            </select>
        </div>
    </div>
    @await Html.PartialAsync("_SaveCancel", "/doador")
</form>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            function toggleEntity(pf) {
                $('.section-pf').hide();
                $('.section-pj').hide();

                if (pf)
                    $('.section-pf').show();
                else
                    $('.section-pj').show();
            }

            toggleEntity(true);

            $('input[name=Pessoa]').change(function () {
                toggleEntity(this.value == 'f');
            });



        });
    </script>
}