@{
    ViewData["Breadcrumbs"] = "<li><a href='/'>In&iacute;cio</a></li><li class='active'>Doadores</li>";
}
<h2>Doadores</h2>
<p class="text-muted well">Nenhum doador cadastrado.</p>
<div class="form-actions">
    <a asp-area="" asp-controller="doador" asp-action="details" class="btn btn-primary">Novo Doador  <i class="glyphicon glyphicon-plus-sign"></i></a>
</div>