
@{
    ViewData["Title"] = "Index";
}

<h2>Beneficiários</h2>

<p class="text-muted well">Nenhum beneficiário cadastrado.</p>
<div class="form-actions">
    <a asp-area="" asp-controller="beneficiario" asp-action="details" class="btn btn-primary">Novo Beneficiário  <i class="glyphicon glyphicon-plus-sign"></i></a>
</div>