@{
    ViewData["Breadcrumbs"] = "<li><a href='/'>In&iacute;cio</a></li><li class='active'>Benefici&aacute;rios</li>";
}
<h2>Benefici&aacute;rios</h2>

<p class="text-muted well">Nenhum Benefici&aacute;rio cadastrado.</p>
<div class="form-actions">
    <a asp-area="" asp-controller="beneficiario" asp-action="details" class="btn btn-primary">Novo Benefici&aacute;rio  <i class="glyphicon glyphicon-plus-sign"></i></a>
</div>