@{
    ViewData["Breadcrumbs"] = "<li><a class='active' href='~/'>In&iacute;cio</a></li>";
}
<div class="row">
    <div class="col-xs-4">
        <h3>Administração</h3>
        <div class="list-group">
            <a asp-controller="Bem" asp-action="Index" class="list-group-item"><i class="glyphicon glyphicon-apple"></i>  Bens Cadastrados</a>
            <a asp-controller="Bem" asp-action="Details" class="list-group-item"><i class="glyphicon glyphicon-plus-sign"></i>  Novo Bem</a>
            <a href="#" class="list-group-item"><i class="glyphicon glyphicon-search"></i>  Consultas  </a>
        </div>
    </div>
    <div class="col-xs-4">
        <h3>Doador</h3>
        <div class="list-group">
            <a asp-controller="Doador" asp-action="Index" class="list-group-item"><i class="glyphicon glyphicon-user"></i>  Doadores Cadastrados</a>
            <a asp-controller="Doador" asp-action="Details" class="list-group-item"><i class="glyphicon glyphicon-plus-sign"></i>  Novo Doador</a>
            <a href="#" class="list-group-item emphasis-link"><i class="glyphicon glyphicon-circle-arrow-down"></i>  Entrada</a>
        </div>
    </div>
    <div class="col-xs-4">
        <h3>Benefici&aacute;rio</h3>
        <div class="list-group">
            <a asp-controller="Beneficiario" asp-action="Index" class="list-group-item"><i class="glyphicon glyphicon-home"></i>  Benefici&aacute;rios Cadastrados</a>
            <a asp-controller="Beneficiario" asp-action="Details" class="list-group-item"><i class="glyphicon glyphicon-plus-sign"></i>  Novo Benefici&aacute;rio</a>
            <a href="#" class="list-group-item emphasis-link"><i class="glyphicon glyphicon-circle-arrow-up"></i>  Saída</a>
        </div>
    </div>
</div>
