
@{
    ViewData["Title"] = "Index";
}

<h2>Bens</h2>

<p class="text-muted well">Nenhum bem cadastrado.</p>
<div class="form-actions">
    <a asp-area="" asp-controller="bem" asp-action="details" class="btn btn-primary">Novo Bem  <i class="glyphicon glyphicon-plus-sign"></i></a>
</div>